<% layout('./layouts/Boilerplate') %>
<form action="/users/login" method="GET">
  <button type="submit">Login</button>
</form>
<form action="/users/register" method="GET">
  <button type="submit">Register</button>
</form>
